#logo{
    margin: 10px 34px;
}
 
#logo img{
    height: 59px;
    margin: 3px 6px;
    border-radius: 50%;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    justify-content: center;
}

#navbar::before{
    background-color: black;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index: -1;
    opacity:0.7;
}

#navbar ul{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}


#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    margin: 10px;
}

#navbar ul li a{
    color:white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration:none;
}

#navbar ul li a:hover{
    color:#ffe600;
}

@media only screen and (max-width: 767px){
    nav ul{
        height: 230px;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 767px){
    nav div{
        height: 230px;
        flex-direction: column;
        text-align: center;
    }
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    margin:17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
    height: auto;
    position: unset;
}

.btn:hover{
    border-color: #ffe600;
    background-color: #ffe600;
    color: black;
}